* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0071b4;
    padding-left: 50px;
}


nav ul {
    display: flex;
    flex-direction: column;
}

nav ul li {
    margin: 10px 0px;
    list-style: none;
    font-size: 18pt;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

}

nav ul {
    margin-top: 130px;
    
}

nav:hover ul {
    margin-top: 0px;
}

nav ul li a {
    display: none;
}

nav:hover ul li a {
    display: inline;
}


nav ul img {
    display: none;
}

nav:hover ul img {
    display: block;
    height: 100px;
    margin: 0px 60% 30px 60%;
}

nav {
    position: absolute;
    background-color: #000000;
    height: 100%;
    width: 30px;
    left: 0;
    top: 0;
    padding: 10px;
    display: flex;
    transition: all 0.5s;
    overflow: hidden;
}

#menu-home:before {
    content: '🏠';
}

#menu-trofeus::before {
    content: '🏆';
}

nav:hover {
    position: absolute;
    background-color: #f40000;
    height: 100%;
    width: 300px;
    left: 0;
    top: 0;
    padding: 20px;
    display: flex;
    transition: all 0.5s;
}

nav a {
    color: #ffffff;

}

nav img {
    width: 100px;
}

nav img {
    width: 100px;
}



header {
    background-color: #ffffff;
    padding: 50px;
    display: flex;
    justify-content: space-between;

}

#pai {
    margin: 0px;
    padding: 30px;
}

.troféus {
    height: 100%;
}

.troféus ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.troféus li {

    width: 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    box-shadow: 0px 0px 4px 1px #000;
    margin: 20px;
    padding: 22px;
    border-radius: 10px;
}




footer {
    position: fixed;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
    padding: 40px;
}

.info-trofeu { 
    margin: 20px;
    display: none;
}
.info-trofeu h2 {
    color: #ffffff;
}
.info-trofeu p {
    color: #ffffff;
    text-align: justify;
    margin-top: 15px;
}

@media screen and (max-width: 1024px) {
    body {
        background-color: #004065;
    }
}
