<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo do F.C.Porto</title>

<link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h1>Mundodofcporto</h1>
        <div class="menu">
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="trofeus.html">TROFEUS</a></li>
            </ul>
        </div>
    </header>
    <div id="pai">
        <h1>O mundo do Futebol Clube do porto</h1>
        <h2>
            Momentos e jogadores historicos do Porto
        </h2>

        <img src="./assets/Porto.jpg" alt="">

        <p class="justificado">
            A equipa de futebol profissional do FC Porto é conhecida pela sua história nacional e internacional. O clube
            conquistou o título nacional em 30 ocasiões e também teve sucesso internacionalmente. Algumas das suas
            maiores conquistas incluem:

            Liga dos Campeões da UEFA: O Porto venceu este prestigioso torneio duas vezes, nas edições de 1986/87 e
            2003/04.
            Taça Intercontinental: O clube também conquistou a Taça Intercontinental em 1987 e 2004.
            Liga Europa da UEFA: O Porto ganhou a Liga Europa em 2002/03 e 2010/11.
            Supertaça Europeia: O clube venceu a Supertaça Europeia em 1987.

        </p>

       

    </div>

<footer>
    2024 V.B.A
</footer>

</body>

</html>
